{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil.min.css')}}">
{% endblock %}

{% block body %}

    <div class="flex">

        <section class="navbar">
            <ul>
                <li>+ Ajouter un élève</li>
                
                {% for eleve in elevesRepository %}
                    <li>
                
                        {{ eleve.nom }} {{ eleve.prenom }}

                    </li>

                {% endfor %}
            </ul>
        
        </section>

        <section class="eleves"></section>

        <section class="infos"></section>

    </div>
{% endblock %}
