{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<p>blabla</p>
<pre>
    {{ dump(elevesRepository) }}
</pre>
    

    <div>

        <section class="navbar"></section>

        <section class="eleves"></section>

        <section class="infos"></section>

    </div>
{% endblock %}
