body {
    background-image: url(../uploads/Water_bubble-2017_High_Quality_Wallpaper_1920x1200.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    div.flex {
        display: flex;
        gap: 20px;
        // overflow-y: scroll;
        // height: 99vh;

        section.navbar {
            border: 1px solid black;
            border-radius: 5px;
            width: 300px;
            overflow-y: scroll;
            background-color: rgba(230, 230, 230, 0.8);
            box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.7), inset 5px 5px 3px rgba(255, 255, 255, 0.8), inset -5px -5px 3px rgba(0, 0, 0, 0.5);

            ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;

                &>a {
                    text-decoration: none;
                    color: black;

                    li {
                        border: 1px solid black;
                        border-radius: 5px;
                        margin: 3px;
                        padding-left: 5px;
                        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8), inset -1px -1px 1px rgba(0, 0, 0, 0.5);

                        &:hover {
                            box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 1px rgba(255, 255, 255, 0.8);
                        }
                    }
                    &>li.actuel{
                        color: blue;
                    }
                }
                &>a:first-of-type{
                    order: -2;
                }
                &>li.nonsuivi{
                order: 1;
                text-decoration: underline;
                }
                &>a.nonsuivi{
                    order: 2;
                    color: rgb(110, 110, 110);

                    li {
                        border: 1px solid rgb(255, 0, 0);
                    }
                    
                }
                &>a.selectionne{
                    // order: -1;
                    color: blue;
                }
            }
        }



        section.eleve {
            height: 100%;
            
            &>div:first-child {
                background-color: rgba(230, 230, 230, 0.8);
                box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.7), inset 5px 5px 3px rgba(255, 255, 255, 0.8), inset -5px -5px 3px rgba(0, 0, 0, 0.5);
                border: 1px solid black;
                border-radius: 5px;
                width: 200px;

                img {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 10px 0;
                    width: 150px;
                    height: 150px;
                    border-radius: 10px;
                }

                p {
                    margin: 10px;
                    padding-left: 5px;
                }

                p:last-child {
                    font-style: italic;
                }

            }

            &>div:last-child {
                ul {
                    list-style-type: none;
                    padding-left: 5px;
                    
                    &>a {
                        text-decoration: none;
                        color: black;
                        
                        li {
                            background-color: rgba(230, 230, 230, 0.8);
                            box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.7), inset 3px 3px 2px rgba(255, 255, 255, 0.8), inset -3px -3px 2px rgba(0, 0, 0, 0.5);
                            border: 1px solid black;
                            padding: 5px;
                            margin-bottom: -1px;

                            &:hover {
                                text-decoration: underline;
                                color: blue;
                                box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.7), inset 3px 3px 2px rgba(0, 0, 0, 0.5), inset -3px -3px 2px rgba(255, 255, 255, 0.8);
                            }
                        }
                    }
                }
            }

            &>div.coach{
                margin-top: 20px;
                background-color: rgba(230, 230, 230, 0.8);
                box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.7), inset 5px 5px 3px rgba(255, 255, 255, 0.8), inset -5px -5px 3px rgba(0, 0, 0, 0.5);
                border: 1px solid black;
                border-radius: 5px;
                width: 200px;
                &>p{
                    margin: 10px;
                    &>a{
                        color: black;
                    }
                }
            }
        }



        section.infos {
            &>form {
                display: flex;
                // gap: 20px;
                overflow-y: scroll;
                height: 99vh;
                
                &>div {
                    margin-right: 20px;
                    &>div {
                        background-color: rgba(230, 230, 230, 0.8);
                        border: 1px solid black;
                        border-radius: 5px;
                        margin-bottom: 5px;
                        padding: 5px 10px;
                        box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.7), inset 5px 5px 3px rgba(255, 255, 255, 0.8), inset -5px -5px 3px rgba(0, 0, 0, 0.5);

                        // &:hover {
                        //     box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.7), inset 5px 5px 3px rgba(0, 0, 0, 0.5), inset -5px -5px 3px rgba(255, 255, 255, 0.8);
                        // }

                        h2 {
                            font-size: 20px;
                            text-decoration: underline;
                            margin: 10px 0;
                        }

                        p {
                            font-size: 14px;
                            margin: 10px;

                            input {
                                text-align: center;
                            }
                        }

                        &>div{
                            margin: 2px 0;
                            &>label{
                                display: inline-block;
                                width: 150px;
                            }
                            &>div{
                                display: inline;
                            }
                        }

                        .dnone {
                            display: none;
                        }
                    }
                    &>button{
                        height: 50px;
                        border: 0 solid black;
                        border-radius: 10px;
                        box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.7), inset 5px 5px 3px rgba(255, 255, 255, 0.8), inset -5px -5px 3px rgba(0, 0, 0, 0.5);

                        &:hover {
                            box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.7), inset 5px 5px 3px rgba(0, 0, 0, 0.5), inset -5px -5px 3px rgba(255, 255, 255, 0.8);
                            cursor: pointer;
                        }
                    }
                    &>div:last-child{
                        &>div.overflow:first-of-type{
                            max-height: 200px;
                            overflow-y: scroll;
                            border: 1px solid black;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
    textarea{
        position: relative;
        z-index: 2;
    }
}