section.infos{
    width: 60%;
    &>div:first-child{
        &>form{
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            &>div:first-child{
                width: 80%;
                height: 100px;
                &>textarea{
                    width: 80%;
                    height: 60%;
                }
            }
            &>div:last-of-type{
                &>div{
                    margin-bottom: 20px;
                }
            }
        }
    }

    &>div:last-child{
        overflow-y: scroll;
        max-height: 600px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        &>a{
            text-decoration: none;
            color: black;
            &>div{
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid black;
                border-radius: 10px;
                margin-top: 20px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                &>p{
                    &>span{
                        text-decoration: underline;
                        font-style: italic;
                    }
                }
            }
        }
        &>a.selectionne{
                color: blue;
        }
    }
}