h1{
    text-align: center;
}

form{
    width: 50%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    &>div{
        margin-bottom: 20px;
        &>label{
            margin-right: 10px;
        }
    }
}